# Classification of WHO Situation Report Data

**Universidade do Porto** 

**Faculdade de Engenharia**

**Integrated Masters in Informatics and Computting Engineering**

**Artificial Intelligence (IART)**

Work by:
- Hugo Daniel Gonçalves Fernandes, up201909576
- Ricardo Fontoura de Aguiar Pinto, up201909580
- João Miguel dos Santos de Lima Monteiro, up201705580

***Abstract - This article encompases the exploritory analysis, data adjusting, modeling and classification of data from situiation reports of the WHO about the ongoing COVID-19 pandemic. As well as comparisons between the performances of algorithms used in the modeling process***

## 1. Introduction

## 2. Description of the dataset

### Base Dataset

The dataframe being utilized features data from the WHO situation reports from 2020-01-22 to 2020-05-21 (currently) for 188 different countries. Each entry in this data is comprised of the following variables:

- **Province/State**: Specifies which state or province of a specific country the data in the entry belongs to.
- **Country/Region**: Country or region of where the data is from.
- **Lat**: Latitude of the specific Country or Province. 
- **Long**: Longitude of the specific Country or Province.
- **Date**: Date of the day the situation report this entry is from was written.
- **Confirmed**: Number of total confirmed COVID-19 cases up to and including the day of the entry.
- **Deaths**: Number of total deaths of confirmed cases up to and including the day of the entry.
- **Recovered**: Number of total patients that had the virus and recovered up to and including the day of the entry.


This data, while very useful for analysis of the overall COVID-19 pandemic that is unfolding, does not provide any varible that we could model an algorithm to classify. Which means we will have to create a dependent variable for classification. Also we will create other variables calculated from the present data, this is to offset the fact that, although the data tells us a lot of information, an algorithm trying to establish a model of classification might have issues drawing the propper coorelations between the variables presented.

#### Importing the Dataset

Using the *Pandas* python library we import the data from the original *.csv*, and display a portion of the dataset created:

In [1]:
import pandas as pd
imported_df = pd.read_csv('Data/covid_19_clean_complete.csv')
display(imported_df)

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered
0,NaN,Afghanistan,33.000000,65.000000,1/22/20,0,0,0
1,NaN,Albania,41.153300,20.168300,1/22/20,0,0,0
2,NaN,Algeria,28.033900,1.659600,1/22/20,0,0,0
3,NaN,Andorra,42.506300,1.521800,1/22/20,0,0,0
4,NaN,Angola,-11.202700,17.873900,1/22/20,0,0,0
...,...,...,...,...,...,...,...,...
32060,NaN,Sao Tome and Principe,0.186360,6.613081,5/21/20,251,8,4
32061,NaN,Yemen,15.552727,48.516388,5/21/20,197,33,0
32062,NaN,Comoros,-11.645500,43.333300,5/21/20,34,1,8
32063,NaN,Tajikistan,38.861034,71.276093,5/21/20,2350,44,0
32064,NaN,Lesotho,-29.609988,28.233608,5/21/20,1,0,0

### Changes to existing variables

Some variables in the original data arent in the ideal format (Date) or due to the complexity they introduced were removed and the over all data ajusted to fill their absence (Province/State).

#### Date

We proceeded to change the format the date is presented in from a regular MM/DD/YY to a counter, from the first day recorded in the dataset 22-01-2020 onwards, this counter starts as 0 and at the moment progresses up to 120 days after the first one  this change was implemented due to previous problems utilizing date formats as components of a model creating algorithm in previous classes.

In [2]:
imported_df['Date'] = pd.to_datetime(imported_df['Date'])
x = pd.to_datetime('2020-01-22')
imported_df['Day'] = (imported_df['Date'] - x).dt.days
del imported_df['Date']
display(imported_df)

,Province/State,Country/Region,Lat,Long,Confirmed,Deaths,Recovered,Day
0,NaN,Afghanistan,33.000000,65.000000,0,0,0,0
1,NaN,Albania,41.153300,20.168300,0,0,0,0
2,NaN,Algeria,28.033900,1.659600,0,0,0,0
3,NaN,Andorra,42.506300,1.521800,0,0,0,0
4,NaN,Angola,-11.202700,17.873900,0,0,0,0
...,...,...,...,...,...,...,...,...
32060,NaN,Sao Tome and Principe,0.186360,6.613081,251,8,4,120
32061,NaN,Yemen,15.552727,48.516388,197,33,0,120
32062,NaN,Comoros,-11.645500,43.333300,34,1,8,120
32063,NaN,Tajikistan,38.861034,71.276093,2350,44,0,120
32064,NaN,Lesotho,-29.609988,28.233608,1,0,0,120

#### Province/State

We decided to remove this particular column and combine all the data from a country into one entry per day, not only to reduce the ammount of rows in the dataset, but also because many of these states and provinces had very small numbers of infected, which made us believe that classifying the overall country wide situation would be more valuable.

In [3]:
del imported_df['Province/State']
new_df = imported_df.groupby(['Country/Region','Day']).agg({'Lat': 'first', 'Long': 'first', 'Confirmed': 'sum',
'Deaths': 'sum', 'Recovered': 'sum'}).reset_index()
display(new_df)

      Country/Region  Day   Lat  Long  Confirmed  Deaths  Recovered
0        Afghanistan    0  33.0  65.0          0       0          0
1        Afghanistan    1  33.0  65.0          0       0          0
2        Afghanistan    2  33.0  65.0          0       0          0
3        Afghanistan    3  33.0  65.0          0       0          0
4        Afghanistan    4  33.0  65.0          0       0          0
...              ...  ...   ...   ...        ...     ...        ...
22743       Zimbabwe  116 -20.0  30.0         44       4         17
22744       Zimbabwe  117 -20.0  30.0         46       4         18
22745       Zimbabwe  118 -20.0  30.0         46       4         18
22746       Zimbabwe  119 -20.0  30.0         48       4         18
22747       Zimbabwe  120 -20.0  30.0         51       4         18

[22748 rows x 7 columns]

### New Variables Created

To increase the ammount of data that the algorithms will have to determine if the dependent varible is true or false we created multiple new columns with data calculeted from the original data.

#### Active_Cases 

This variable consists of the number of current active cases in a given day, this number is determined by taking the total number of confirmed cases and subtracting the number of total recovered patients and total deaths.

In [4]:
new_df['Active_Cases'] = new_df['Confirmed'] - (new_df['Deaths']+new_df['Recovered'])
display(new_df)

,Country/Region,Day,Lat,Long,Confirmed,Deaths,Recovered,Active_Cases
0,Afghanistan,0,33.0,65.0,0,0,0,0
1,Afghanistan,1,33.0,65.0,0,0,0,0
2,Afghanistan,2,33.0,65.0,0,0,0,0
3,Afghanistan,3,33.0,65.0,0,0,0,0
4,Afghanistan,4,33.0,65.0,0,0,0,0
...,...,...,...,...,...,...,...,...
22743,Zimbabwe,116,-20.0,30.0,44,4,17,23
22744,Zimbabwe,117,-20.0,30.0,46,4,18,24
22745,Zimbabwe,118,-20.0,30.0,46,4,18,24
22746,Zimbabwe,119,-20.0,30.0,48,4,18,26
22747,Zimbabwe,120,-20.0,30.0,51,4,18,29

#### Yesterdays_Confirmed_Cases

This variable was created to facilitate the creation of another variable, that compares the number of confirmed cases of the current day with the number of cases of the day before.

In [5]:
new_df['Yesterdays_Confirmed_Cases'] = new_df['Confirmed'].shift()                    
new_df.loc[new_df['Day'] < 1, 'Yesterdays_Confirmed_Cases'] = new_df['Confirmed']
display(new_df)

,Country/Region,Day,Lat,Long,Confirmed,Deaths,Recovered,Active_Cases,Yesterdays_Confirmed_Cases
0,Afghanistan,0,33.0,65.0,0,0,0,0,0.0
1,Afghanistan,1,33.0,65.0,0,0,0,0,0.0
2,Afghanistan,2,33.0,65.0,0,0,0,0,0.0
3,Afghanistan,3,33.0,65.0,0,0,0,0,0.0
4,Afghanistan,4,33.0,65.0,0,0,0,0,0.0
...,...,...,...,...,...,...,...,...,...
22743,Zimbabwe,116,-20.0,30.0,44,4,17,23,42.0
22744,Zimbabwe,117,-20.0,30.0,46,4,18,24,44.0
22745,Zimbabwe,118,-20.0,30.0,46,4,18,24,46.0
22746,Zimbabwe,119,-20.0,30.0,48,4,18,26,46.0
22747,Zimbabwe,120,-20.0,30.0,51,4,18,29,48.0

#### Increase_in_Cases

This variable is the aforementioned variable that compares the data in the *Confirmed* column with the data in the *Yesterdays_Confirmed_Cases* column. This varible we believe is highly important not only to set the training test of our dependent variable but also will have a high coorelation with the dependent variable.

In [6]:
new_df['Increase_in_Cases'] = new_df['Confirmed']-new_df['Yesterdays_Confirmed_Cases']
display(new_df)

,Country/Region,Day,Lat,Long,Confirmed,Deaths,Recovered,Active_Cases,Yesterdays_Confirmed_Cases,Increase_in_Cases
0,Afghanistan,0,33.0,65.0,0,0,0,0,0.0,0.0
1,Afghanistan,1,33.0,65.0,0,0,0,0,0.0,0.0
2,Afghanistan,2,33.0,65.0,0,0,0,0,0.0,0.0
3,Afghanistan,3,33.0,65.0,0,0,0,0,0.0,0.0
4,Afghanistan,4,33.0,65.0,0,0,0,0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
22743,Zimbabwe,116,-20.0,30.0,44,4,17,23,42.0,2.0
22744,Zimbabwe,117,-20.0,30.0,46,4,18,24,44.0,2.0
22745,Zimbabwe,118,-20.0,30.0,46,4,18,24,46.0,0.0
22746,Zimbabwe,119,-20.0,30.0,48,4,18,26,46.0,2.0
22747,Zimbabwe,120,-20.0,30.0,51,4,18,29,48.0,3.0

### Dependent Variable for Classification

Due to the previously stated fact that the base dataset has no categorical variable we could use as a dependent variable in a classifcation problem we need to define our own dependent categorical variable.

#### Will_Infection_Ratio_Increase

Named Will_Infection_Ratio_Increase this varible will be the dependent varible of our classification prediction model, this varible indicates if the increase of cases will be larger the following day. This means that for any given entry in the data this varible compares the current day's *Increase_in_Cases* and the following day's *Increase_in_Cases*.
Of course for starters in order to create the models we will have to correctly populate this varible, after the models are created based on the correct dataset we can then run them against the same dataset and determine statistics such as accuracy of predictions among others.

In [7]:
new_df['Will_Infection_Ratio_Increase'] = (new_df['Increase_in_Cases'].shift(-1) - new_df['Increase_in_Cases'] ) > 0                  
new_df.loc[new_df['Day'] < 1, 'Will_Infection_Ratio_Increase'] = True
display(new_df)

,Country/Region,Day,Lat,Long,Confirmed,Deaths,Recovered,Active_Cases,Yesterdays_Confirmed_Cases,Increase_in_Cases,Will_Infection_Ratio_Increase
0,Afghanistan,0,33.0,65.0,0,0,0,0,0.0,0.0,True
1,Afghanistan,1,33.0,65.0,0,0,0,0,0.0,0.0,False
2,Afghanistan,2,33.0,65.0,0,0,0,0,0.0,0.0,False
3,Afghanistan,3,33.0,65.0,0,0,0,0,0.0,0.0,False
4,Afghanistan,4,33.0,65.0,0,0,0,0,0.0,0.0,False
...,...,...,...,...,...,...,...,...,...,...,...
22743,Zimbabwe,116,-20.0,30.0,44,4,17,23,42.0,2.0,False
22744,Zimbabwe,117,-20.0,30.0,46,4,18,24,44.0,2.0,False
22745,Zimbabwe,118,-20.0,30.0,46,4,18,24,46.0,0.0,True
22746,Zimbabwe,119,-20.0,30.0,48,4,18,26,46.0,2.0,True
22747,Zimbabwe,120,-20.0,30.0,51,4,18,29,48.0,3.0,False

### Data filtering

In order to filter out unnecessary data in the dataset we decided to filter out entries we deemed of little value.

#### Removing entries from contries when they have no cases

We decided to remove entries in which contries have 0 confirmed cases mainly for two reasons, first, the ammount of lines this encompases in the dataset is quite substancial, because many contries didnt get their first cases of the virus until months after the start of data collection, second, although it might be said that the empty lines might help the algorithm not consider a country's rise in numbers to be too late in the overall recording period and over compensate by over predicting increases in cases the same can be said for the opposite, keeping the 0 confirmed cases lines might make the algorithm over compensate and slow down predictions of increases. So we decided the best course of acction would be to remove the lines since this type of data an overestimation would be preferable to an underestimation.

In [8]:
new_df = new_df[new_df.Confirmed != 0]
new_df = new_df.reset_index(drop=True)
display(new_df)

,Country/Region,Day,Lat,Long,Confirmed,Deaths,Recovered,Active_Cases,Yesterdays_Confirmed_Cases,Increase_in_Cases,Will_Infection_Ratio_Increase
0,Afghanistan,33,33.0,65.0,1,0,0,1,0.0,1.0,False
1,Afghanistan,34,33.0,65.0,1,0,0,1,1.0,0.0,False
2,Afghanistan,35,33.0,65.0,1,0,0,1,1.0,0.0,False
3,Afghanistan,36,33.0,65.0,1,0,0,1,1.0,0.0,False
4,Afghanistan,37,33.0,65.0,1,0,0,1,1.0,0.0,False
...,...,...,...,...,...,...,...,...,...,...,...
14687,Zimbabwe,116,-20.0,30.0,44,4,17,23,42.0,2.0,False
14688,Zimbabwe,117,-20.0,30.0,46,4,18,24,44.0,2.0,False
14689,Zimbabwe,118,-20.0,30.0,46,4,18,24,46.0,0.0,True
14690,Zimbabwe,119,-20.0,30.0,48,4,18,26,46.0,2.0,True
14691,Zimbabwe,120,-20.0,30.0,51,4,18,29,48.0,3.0,False

## 3. Approach

In this section we elaborate on the algorithms used, the implementation of said algorithms and basic results that will later be paired with graphs in the experimental evaluation of section 4 to analyse the results.

### Algorithms

For this project we were required to utilize three supervised learning algorithms, for the classification of our dependent variable, and then compare performance metrics (*precision*, *recall*, *accuracy*, *F-measure* and run time) of each algorithm with the others.

#### Algorithm 1

#### Algorithm 2

#### Algorithm 3

In [9]:
#CODE SNIPPETS

### Sort data by day (IGNOREM ISTO JOAO E RICARDO)
#new_df = new_df.sort_values(by=['Day','Country/Region'])
#new_df = new_df.reset_index(drop=True)

#display(new_df)
##pd.set_option('display.max_rows', 40000)
#display(new_df.loc[new_df['Country/Region'] == 'US'])

## 4. Experimental evaluation (in which you should include any plots and tables with your results)

### Compare algorithm performance metrics

#### *Precision*
#### *Recall*
#### *Accuracy* 
#### *F-measure*
#### Run time

## 5. Conclusions

## References ADD LINKS

- Original Dataset Kaggle Page
- Scikit-Learn Tutorials
- Pandas Documentation
-